Rest_Services/Service References/TpeClient/Kernel_Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProcessTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="r_Channel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="r_TranType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="r_Request" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="r_Resonse" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>